.App{text-align: center;}

.header{background-color: #8179f0; width: 100%;}
.header .logo{float:left;width: 200px;text-align:left;}
.header .stat{float:right;width: 200px;text-align:right;}
.header .serchbar{padding: 5px;}

.main{background-color: #0077ff; padding-top: 10px; padding-bottom: 10px;}

.game .first{float:left;}


.game .second{float:right;}





.Footer{background-color: #8179f0;}


